
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502954288929'); /* IE9*/
  src: url('iconfont.eot?t=1502954288929#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502954288929') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502954288929') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502954288929#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanting:before { content: "\e60a"; }

.icon-bofang:before { content: "\e61d"; }

.icon-arrow-left:before { content: "\e537"; }

.icon-shangyibu:before { content: "\e66c"; }

.icon-xiayibu:before { content: "\e66d"; }

.icon-bofang1:before { content: "\e615"; }

.icon-xihuan:before { content: "\e65c"; }

.icon-zhuye:before { content: "\e616"; }

.icon-xinxi:before { content: "\e617"; }

.icon-sousuo:before { content: "\e619"; }

.icon-lianxiren:before { content: "\e622"; }

